body {
    background-color: rgb(95, 104, 112);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 64px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 32px;
}

.navbar {
    position: sticky;
    background-color: lightslategray;
    top: 0;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
}

.navbar-title {
    display: inline-block;
}

.navbar-elements {
    padding: inherit;
    display: inline-block;
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    margin: 5px;
    background-color: antiquewhite;
    cursor: pointer;
}

.navbar-links {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: darkslategray;
}

.map:hover {
    border-color: brown;
    cursor: pointer;
}

.contain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.triple {
    float: left;
    width: 33.33%;
}

.quad {
    float: left;
    width: 25%;
}