/* General Elements */
body {
    background-color: rgb(95, 104, 112);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 16px;
}

h1 {
    text-align: center;
    font-size: 64px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 32px;
}

h4 {
    display: inline;
}

fieldset {
    background-color: lightslategray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 25px;
}

legend {
    border-width: 2px;
    border-style: solid;
    background-color: antiquewhite;
}

.steps {
    text-indent: 43px;
    margin-top: 0%;
}

.mini-title {
    text-decoration: underline;
}

/* Navbar Elements */
.navbar {
    position: sticky;
    background-color: lightslategray;
    top: 0;
    border-width: 4px;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
}

.navbar-title {
    display: inline-block;
}

.navbar-elements {
    padding: inherit;
    display: inline-block;
    border-width: 2px;
    border-radius: 25px;
    border-style: solid;
    margin: 5px;
    background-color: antiquewhite;
    cursor: pointer;
}

.navbar-links {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
}

/* Positioning */
.split {
    height: 80%;
    width: 50%;
    position: absolute;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 5px;
}

.shrink {
    height: 75px;
    width: 75px;
    border: 3px solid black;
}

.contain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.double {
    float: left;
    width: 50%;
}

.triple {
    float: left;
    width: 33.33%;
}

.quad {
    float: left;
    width: 25%;
}

.location {
    display: inline;
}

.source {
    text-align: center;
}

.smaller {
    width: 52.5%;
    height: 52.5%;
}

.fancy {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 25px;
    padding-bottom: 15px;
    width: 32%;
    margin-left: 0.665%;
    margin-right: 0.665%;
    background-color: antiquewhite;
}

.fancy-2 {
    width: 32%;
    margin-left: 9%;
    margin-right: 9%;
}

.fancy-3 {
    padding-bottom: 5px;
}

.resource {
    color: lightslategray;
}